<h1>Register</h1>
<% if @login_user.errors.any? %>
    <% @login_user.errors.messages.each do |msg| %>
      <%= msg %>
    <% end %>
<% end %>
<%= form_for @login_user, :url => account_path do |f| %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "Register" %>
<% end %>
